body {
    /* background-color: #1e4d2b; */
}

/* fonts */
@font-face {
    font-family: 'wishes';
    src: url('TheFountainOfWishesRegular-OVxw4.ttf');
}

.wishes {
    font-family: 'wishes';
}

@font-face {
    font-family: 'grinch';
    src: url('grinched.regular.otf');
}

.grinch {
    font-family: 'grinch';
}
/* end of fonts */

/* navbar */
.navbarry {
    color: whitesmoke;
}

.navbar {
    background-color: #1e4d2b;
}

.navbarry:hover {
    color:whitesmoke; 
}
/* navbar end */

#color {
    background-color: white;
}